.form-custom-hack td {
    font-weight: bold;
}

.hack-col-label {
    text-align: right;
}

/* --- GRID --- */
.table-hover .btn {
    padding: 0px 5px;
}
.table-hover .action-col {
    float:left;
    white-space:nowrap;
}
.table-hover .action-btn {
}

.table-default-filter {
  background: #ffffff;
  border-top: 2px solid #00A65A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
